@model OgrenciBilgiSistemi.WebUI.ViewModels.UniversityFormViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mr-2 ml-2">
        <div class="col">
            <h2 class="mt-3 mb-3">Yeni Üniversite Ekle</h2>
            @using (Html.BeginForm("Add", "University"))
            {
                <div>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Kaydet" class="btn btn-primary mb-3" />

                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityDto.Name)
                    @Html.TextBoxFor(m => m.UniversityDto.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityDto.RectorName)
                    @Html.TextBoxFor(m => m.UniversityDto.RectorName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityDto.DateOfFoundation)
                    @Html.EditorFor(m => m.UniversityDto.DateOfFoundation, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityDto.CityId)
                    @Html.DropDownListFor(m => m.UniversityDto.CityId, new SelectList(Model.CityDtos, "Id", "Name"), "Şehir seçiniz!", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityDto.UniversityTypeId)
                    @Html.DropDownListFor(m => m.UniversityDto.UniversityTypeId, new SelectList(Model.UniversityTypeDtos, "Id", "Name"), "Üniversite Türü seçiniz!", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UniversityDto.Description)
                    @Html.TextAreaFor(m => m.UniversityDto.Description, 3, 10, new { @class = "form-control" })
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
